# Autodoc-documentation
doc/chap*
doc/_Chapter*
doc/title.xml
doc/SimplicialSurfaces.tex
doc/manual*

# intermediate compilation stuff
*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.html
*.idv
*.idx
*.ilg
*.ind
*.js
*.lab
*.lg
*.log
*.nav
*.out
*.pnr
*.snm
*.svg
*.synctex.gz
*.tmp
*.toc
*.xref

# changed files
*~
*.swp
