# Autodoc-documentation
doc/chap*
doc/_Chapter*
doc/title.xml
doc/SimplicialSurfaces.tex
doc/_AutoDocMainFile.xml
doc/_IMAGE*
doc/manual.pdf
doc/manual.six

# intermediate compilation stuff
*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.html
*.idv
*.idx
*.ilg
*.ind
*.js
*.lab
*.lg
*.log
*.nav
*.out
*.pnr
*.snm
*.svg
*.synctex.gz
*.tmp
*.toc
*.vrb
*.xref

# changed files
*~
*.swp
*.swo

# compressed files
*.gz
