Alice Niemeyer <alice.niemeyer@mathb.rwth-aachen.de>
Daniel Rademacher <daniel.rademacher@rwth-aachen.de>
Jens Brandt <jens.brandt@rwth-aachen.de>
Jesse Lansdown <jesselansdown@gmail.com>
Jesse Lansdown <jesselansdown@gmail.com> <jesselansdown@Jesses-MacBook-Pro.local>
Johannes Verbuecheln <johannes.verbuecheln@rwth-aachen.de>
Lucas Wollenhaupt <info@wucas.de>
Markus Baumeister <markus.baumeister1@rwth-aachen.de>
Meike Weiss <meike.weiss.2000@gmail.com>
Meike Weiss <meike.weiss.2000@gmail.com> <82507837+MeikeWeiss@users.noreply.github.com>
Meike Weiss <meike.weiss.2000@gmail.com> <meike@DESKTOP-AR8T0J7.localdomain>
Reymond Akpanya <reymond.akpanya@rwth-aachen.de> <Reymond.akpanya@rwth-aachen.de>
Reymond Akpanya <reymond.akpanya@rwth-aachen.de> <37014332+ReymondAkpanya@users.noreply.github.com>
Tom Goertzen <tom.goertzen@rwth-aachen.de>
Tom Goertzen <tom.goertzen@rwth-aachen.de> <67793318+TomGoertzen@users.noreply.github.com>